<h1 class="text-center mt-4">Articles</h1>

<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @articles %>
  </div>
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles' %>

<p>
<%= link_to 'Create New Article', new_article_path %>
</p>
