<div id="page-content">
  <div class="container" id="home-container">
    <div class="container-fluid py-5 text-center text-white" id="jumbotron">
      <h1 class="display-5 fw-bold">BeyondTheGram</h1>
      <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>